<div class="list">
  <span class="list-name"><%= link_to list.name, list_path(list) %></span><%= private_tag(list)%>
  <p><%= list.description %> &middot; Curated by <%= link_to curator_name(list), user_path(list.user) %></p>
</div>
