<footer class="footer">
  <div class="container">
    <span class="text-muted">MAST Lists is a <%= link_to "Space Telescope Science Institute", "http://www.stsci.edu/" %> web production.</span>
  </div>
</footer>
